<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}YonneAutos!{% endblock %}</title>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css"> -->

        <!-- <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}"> -->
        {% block stylesheets %}{% endblock %}

        <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/component.css"> -->
        
    </head>
    <body>
		<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">YonneAutos</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
			    <ul class="navbar-nav mr-auto">
			        <li class="nav-item active">
			        	<a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link" href="nous-connaitre">Qui sommes-nous</a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link" href="nos-service">Nos services</a>
			        </li>
			      <li class="nav-item">
			        <a class="nav-link" href="contact">Contact</a>
			      </li>
			       <li class="nav-item" id="espace-membre">
			        <a class="nav-link" href="espace-membre">Espace Membre</a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="text" placeholder="Faites votre choix">
			      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rappelez-moi</button>
			    </form>
		    </div>
		</nav> -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="#">YonneAutos</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  <div class="navbar-collapse collapse" id="navbarColor01" style="">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="nous-connaitre">Qui sommes-nous</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="nos-service">Nos services</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="contact">Contact</a>
		      </li>
		    </ul>
			     <a href="rappelez-moi"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rappelez moi</button></a>
			      <a href="espace-membre"><button class="btn btn-secondary my-2 my-sm-0" type="submit">Espace Membre</button></a>
			    <!--   <li class="nav-item" id="espace-membre">
			        <a class="nav-link" href="espace-membre">Espace Membre</a>
			      </li> -->
		    </div>
		</nav>
		{# On indique le contenu de notre body  #}
		<div class="container">
			{% block body %}{% endblock %}
		</div>
        {% block javascripts %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
