{# Hérité de l'affichage de base index:base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

<h1> Bienvenue sur votre nouvelle plateforme </h1>
	

<p> Bla bla bla bla </p>

{% endblock %}