{# Hérité de l'affichage de base index:base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

<h1> Bienvenue sur votre nouvelle plateforme </h1>

<!-- Carousel
    ================================================== -->
    <div id="cbp-fwslider" class="cbp-fwslider">
		<ul>
			<li><a href="#"><img src="images/1.jpg" alt="img02"/></a></li>
		</ul>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- <script src="js/jquery.cbpFWSlider.min.js"></script> -->

	

<p> Bla bla bla bla </p>

{% endblock %}