{% extends 'base.html.twig' %}

{# on appel le contenu du body que je retrouve dans le template de base base.html.twig  #}

{% block body %}

<h1> Page contact </h1>

<p> En construction </p>

{% endblock %}