{# Hérité de l'affichage de base index:base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<h1> Page de connexion </h1>
<p> formulaire de connexion  </p>


<p> Place du formulaire </p>


{% endblock %}