{# Hérité de l'affichage de base index:base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

<h1> /index </h1>

<!-- Carousel
    ================================================== -->
  

<p> Bla bla bla bla </p>

{% endblock %}
