{# Hérité de l'affichage de base index:base.html.twig #}
{% extends 'base.html.twig' %}

{# On appel le block avec la commande  #}

{% block body %}

<h1> Page nous connaitre </h1>

<p> En construction </p>

{% endblock %}